.home-sidebar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar-links-icons {
  margin-right: 10px;
}
.main-container-home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 1%;
  padding-right: 1%;
  width: 100%;
}
.side-container {
  width: 20%;
  /* margin-right: 10px; */
  align-self: flex-start;
}
.home-container {
  width: 100%;
}
.home-videos-section {
  background-color: #f4f4f4;
  height: 65vh;
  overflow: auto;
}
.video-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.search-section {
  padding-left: 47px;
  padding-top: 15px;
}
.close-button-home {
  border-style: none;
  background-color: transparent;
  margin-bottom: 10px;
}
.no-search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.align {
  text-align: center;
  margin-top: 15%;
}
.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
