.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.navbar-dark-bg {
  background-color: #212121;
}

.navbar-light-bg {
  background-color: #ffffff;
}

.nav-options {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
.navbar-option {
  margin-right: 10px;
}
.trigger-button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: white;
  padding: 8px 15px 8px 15px;
  margin: 8px;
  background-color: #7c69e9;
  border: none;
  border-radius: 4px;
  outline: none;
}
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.pop-up {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
.pop-up-para {
  color: #00306e;
}
.theme-button {
  border-style: none;
  background-color: transparent;
}
