.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar-option {
  margin-right: 10px;
}
