.video-container-route {
  display: flex;
  flex-direction: row;
  padding-left: 1%;
}
.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.description-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.video-bottom-section {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.video-route-container {
  padding-right: 20px;
  width: 100%;
}
.home-sidebar-links-video-route {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.like-dislike-button {
  border-style: none;
  background-color: transparent;
}
.channel-image {
  margin-right: 15px;
}
.videoItem-failure-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.align {
  text-align: center;
  margin-top: 15%;
  width: 100%;
}
.activeColor {
  color: #64748b;
}
.inactiveColor {
  color: #2563eb;
}
