.side-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  /* margin-right: 10px; */
  justify-content: space-between;
  height: 90vh;
  padding-left: 1%;
}
.sidebar-dark-theme {
  background-color: #231f20;
}

.sidebar-light-theme {
  background-color: #ffffff;
}

.home-sidebar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar-links-icons {
  margin-right: 10px;
}
.sidebar-social-media-links {
  margin-right: 3%;
}
.enjoy-para {
  padding-right: 30px;
}
.sidebar-bottom-section {
  padding-bottom: 5%;
}
